<div id="container" class="oj-panel">
  <div id="header" class="oj-panel oj-flex">
    <div class="oj-flex oj-flex-item">
      <div class="oj-panel">Logo</div>
    </div>
    <div class="oj-flex oj-flex-item">
      <div class="oj-panel">App Name</div>
    </div>
    <div class="oj-flex oj-flex-item">
      <div class="oj-panel oj-flex-item">Nav1</div>
      <div class="oj-panel oj-flex-item">Nav2</div>
      <div class="oj-panel oj-flex-item">Nav3</div>
    </div>
  </div>

  <div id="content" class="oj-panel oj-flex oj-flex-direction-column">
    <div id="content1" class="oj-panel oj-flex-item">
      <div class="oj-panel">Content1</div>
      <div class="oj-panel">Content2</div>
      <div class="oj-panel">Content3</div>
    </div>
    <div id="content2" class="oj-panel oj-flex-item oj-flex oj-sm-justify-content-center oj-sm-align-items-center">
      <div class="oj-panel oj-flex-item">Content detail</div>
    </div>

  </div>
  <div id="footer" class="oj-panel oj-flex oj-sm-justify-content-flex-end">
    <div class="oj-panel">Footer</div>
  </div>

</div>