/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
oj-module:not(.oj-complete) {
  visibility: hidden; 
}

oj-module {
  display: block; 
}

#table2 table {
  border-collapse: collapse;
  border: 1px solid black;
} 

#table2 th,td {
  border: 1px solid black;
}

#table2 td {
  width: 100px; 
}

#table2 table.b {
  table-layout: fixed;
  width: 300px;    
} 